@font-face {
	font-family: MyriadPro;
	src: url('../fonts/myriad.otf') format('opentype');
}

body{ 
    width: 1348px;
    background-color:#f9f9f9;
}
.conteiner{
    margin: 0 145px;
    padding: 50px 50px 60px;   
    background-color:#ffffff;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0 0 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow:         0 0 5px 0 rgba(0, 0, 0, 0.3);
}

/*Header*/
/*Navigation*/
nav{
    margin: 40px auto;
    height: 40px;
    background: linear-gradient(top, #5e5e5e, #444343);
    background: -webkit-linear-gradient(top, #5e5e5e, #444343);
    background: -moz-linear-gradient(top, #5e5e5e, #444343);
    background: -o-linear-gradient(top, #5e5e5e, #444343);
    background: -ms-linear-gradient(top, #5e5e5e, #444343);
}
.menu li{
    display: inline-block;
    margin-right: 38px;
    line-height: 40px;
}
.menu li a{
    display: block;
    height: 40px;
    padding: 0 24px;
    border-style: solid;
    border-width: 0 1px;
    border-color: transparent;
    color:#ffffff;       
    font-size: 15px;
    font-family: MyriadPro;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.menu .selected{
    border-style: solid;
    border-width: 0 1px;
    border-color: #838383;
    background: linear-gradient(top, #4a4a4a, #2e2e2e);
    background: -moz-linear-gradient(top, #4a4a4a, #2e2e2e);
    background: -webkit-linear-gradient(top, #4a4a4a, #2e2e2e);
    background: -o-linear-gradient(top, #4a4a4a, #2e2e2e);
    background: -ms-linear-gradient(top, #4a4a4a, #2e2e2e);
}

/*Sidebar*/
aside{
    display: inline-block;
    float: left;
    margin-right: 50px;
}
aside ul li:first-child{
    border: 1px solid #c8c8c8;
}
aside ul li{
    width: 240px;
    padding-left: 23px;
    line-height: 40px;  
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: #c8c8c8;
}
aside ul li a{
    height: 40px;
    color: #656363;
    font-size: 14px;
    font-family: MyriadPro;
}
aside ul .selected{
    width: auto;
    padding-left: 36px;
    background-color: #f9f9f9;    
}
aside ul .selected a{
    color: #2c2c2c;
}

/*Content*/
.section{
    overflow: hidden;   
}
.section .article .photo{
    height: 398px;
    margin-bottom: 38px;
    line-height: 398px;
    text-align: center;  
    border: 1px solid #c8c8c8;
}
.section .article .photo img{
    vertical-align: middle;
}
.section .article p{
    padding: 0 24px;
    line-height: 22px;
    color: #2c2c2c;
    font-size: 14px;
    font-family: MyriadPro;
}

/*Footer*/
footer{
    margin-top: 60px;
    height: 40px;
    background-color:#e1e1e1;
}
footer ul{
    float: left;
}
footer li{
    display: inline-block;
    margin-right: 48px;
    line-height: 40px;
}
footer li a{
    display: block;
    height: 40px;    
    padding: 0 24px;
    color:#2c2c2c;
    font-size: 15px;
    font-family: MyriadPro;
}
footer li .selected{
    text-decoration: underline;
}
footer p{
    padding-right: 20px;
    line-height: 40px;
	color:#2c2c2c;
    text-align: right;
}