//src
$src-img: '../img/';
$src-img-sprites: '../img/sprites/';
$src-img-news: '../img/news/';

// size of main blocks



// background-color
$bg-color-main: #fff;

$bg-color-menu: #2a2d32;
$bg-color-menu-active: #248cec;



//border-color
$border-color-menu: #151515;


// color
$color-logo: #333333;
$color-menu-top: #fff;
$color-menu-top-hover: #f4b60d;


// font-family
$font-ubuntu: Ubuntu, Arial, sans-serif;
$font-arial: Arial, sans-serif;


// font-size
$font-size-h1: 30px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 16px;
$font-size-p: 13px;
$font-size-a: 14px;
