<main>
  <div class="section section_describe">
    <section class="container container_describe">
      <h6>Build Home - New technologies</h6>
      
      <article class="describe describe_1">
        <i class="describe__icon"></i>
        <a href="#"><h3 class="describe__title">Power Inside</h3></a>
        <p class="describe__text">
          Cum sociis natoque penatibus et magnis dis parturient montesmus. 
          Pro vel nibh et elit mollis commodo et nec augueique 
        </p>
        <a href="#" class="describe__link">Read More</a>
      </article>
      
      <article class="describe describe_2">
        <i class="describe__icon"></i>
        <a href="#"><h3 class="describe__title">New Technologies</h3></a>
        <p class="describe__text">
          Cum sociis natoque penatibus et magnis dis parturient montesmus. 
          Pro vel nibh et elit mollis commodo et nec augueique 
        </p>
        <a href="#" class="describe__link">Read More</a>
      </article>
      
      <article class="describe describe_3">
        <i class="describe__icon"></i>
        <a href="#"><h3 class="describe__title">Fast Support</h3></a>
        <p class="describe__text">
          Cum sociis natoque penatibus et magnis dis parturient montesmus. 
          Pro vel nibh et elit mollis commodo et nec augueique 
        </p>
        <a href="#" class="describe__link">Read More</a>
      </article>
      
    </section>
  </div>
  
  <div class="section section_services">
    <section class="container container_services">
      <h3>Our Services</h3>
      
      <a class="figure" href="#">
        <div class="figure__img">
          <img src="img/services/worker.jpg" alt="worker">
          <span>+</span>
        </div>
        <p class="figure__description">
          Schedule Services
        </p>
      </a>
      
      <a class="figure" href="#">
        <div class="figure__img">
          <img src="img/services/car.jpg" alt="car">
          <span>+</span>
        </div>
        <p class="figure__description">
          Preventive Maintence
        </p>
      </a>
      
      <a class="figure" href="#">
        <div class="figure__img">
          <img src="img/services/tube1.jpg" alt="tubes">
          <span>+</span>
        </div>
        <p class="figure__description">
          Tire & Wheel Services
        </p>
      </a>
      
      <a class="figure" href="#">
        <div class="figure__img">
          <img src="img/services/tube2.jpg" alt="tubes">
          <span>+</span>
        </div>
        <p class="figure__description">
          Tire & Wheel Services
        </p>
      </a>
      
    </section>
  </div>
  
  
  <div class="section section_news">
    <section class="container container_news">
      <h6>News</h6>
      
      <section class="news">
        <h3 class="news__title">Lates News</h3>
        
        <article class="news__article news__article_1">
          <div class="img"></div>
          <div class="article">
            <a href="#"><h5>Advanced Machinery Helps Improve Quality</h5></a>
            <p>by <span>cmsmasters</span> Comments (<span>6</span>)</p>
            <br>
            <p>
              Cum sociis natoque penatibus et magnis dis parturient ontesmus. 
              Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam 
              voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.
            </p>
          </div>
        </article>
        
        <article class="news__article news__article_2">
          <div class="img"></div>
          <div class="article">
            <a href="#"><h5>Powerful Techniques for Advanced Service</h5></a>
            <p>by <span>cmsmasters</span> Comments (<span>3</span>)</p>
            <br>
            <p>
              Cum sociis natoque penatibus et magnis dis parturient ontesmus. 
              Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam 
              voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.
            </p>
          </div>
        </article>
        
      </section>
      
      
      <section class="banners">
        <h3 class="banners__title">Baners Place</h3>
           
        <!--plugin Carousel-->    
        <div class="accordion-wrapper">        
          <div class="ac-pane active">
            <a href="#" class="ac-title" data-accordion="true">
              <span>ACCORDION PANEL 1</span>
              <i class="fa"></i>
            </a>
            <div class="ac-content">
              Cum sociis natoque penatibus et magnis dis parturient mus. 
              Pro vel nibh et elit mollis commodo et nec augueique Nemo enim 
              ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque 
              penatibus et magnis dis parturient ontesmus. Nemo enim ipsam 
              voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit
              mollis commodo et nec augueique Nemo enim ipsam voluptatem quia 
              ptas sit aspernatur 
            </div>
          </div>
          
          <div class="ac-pane">
            <a href="#" class="ac-title" data-accordion="true">
              <span>ACCORDION PANEL 2</span>
              <i class="fa"></i>
            </a>
            <div class="ac-content">
              Cum sociis natoque penatibus et magnis dis parturient mus. 
              Pro vel nibh et elit mollis commodo et nec augueique Nemo enim 
              ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque 
              penatibus et magnis dis parturient ontesmus. Nemo enim ipsam 
              voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit
              mollis commodo et nec augueique Nemo enim ipsam voluptatem quia 
              ptas sit aspernatur 
            </div>
          </div>
          
          <div class="ac-pane">
            <a href="#" class="ac-title" data-accordion="true">
              <span>ACCORDION PANEL 3</span>
              <i class="fa"></i>
            </a>
            <div class="ac-content">
              Cum sociis natoque penatibus et magnis dis parturient mus. 
              Pro vel nibh et elit mollis commodo et nec augueique Nemo enim 
              ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque 
              penatibus et magnis dis parturient ontesmus. Nemo enim ipsam 
              voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit
              mollis commodo et nec augueique Nemo enim ipsam voluptatem quia 
              ptas sit aspernatur 
            </div>
          </div>
          
          <div class="ac-pane">
            <a href="#" class="ac-title" data-accordion="true">
              <span>ACCORDION PANEL 4</span>
              <i class="fa"></i>
            </a>
            <div class="ac-content">
              Cum sociis natoque penatibus et magnis dis parturient mus. 
              Pro vel nibh et elit mollis commodo et nec augueique Nemo enim 
              ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque 
              penatibus et magnis dis parturient ontesmus. Nemo enim ipsam 
              voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit
              mollis commodo et nec augueique Nemo enim ipsam voluptatem quia 
              ptas sit aspernatur 
            </div>
          </div>
        </div>
          
      </section>
      
    </section>
  </div>

</main>