<footer>
    <hr>
    <section class="section-footer">
      <h2 class="logo logo_footer"><a href="#" title="URLAUBSGLÜCK">URLAUBSGLÜCK</a></h2>
      <div class="menu">
        <h5 class="menu__title">Company</h5>
        <ul>
          <li class="menu__item"><a href="#">About</a></li>
          <li class="menu__item"><a href="#">Contacts</a></li>
          <li class="menu__item"><a href="#">Press</a></li>
          <li class="menu__item"><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="menu menu_partners">
        <h5 class="menu__title menu__title_partners">Partners</h5>
      </div>
      <div class="designer">
        <p>Designed by</p>
        <img src="img/areto.png" alt="ARETO" title="ARETO">
      </div>
    </section>
  
</footer>