<header  class="section">
  <div class="container">
    
    <section class="header">
      <a href="#" class="header__logo">
        <figure>
          <img src="img/logo.png" alt="logo" title="Build Home">
          <figcaption>
            <h1>Build Home</h1>
            <p>INDASTRIAL THEME</p>
          </figcaption>
        </figure>
      </a>
      <div class="header__social">
        <ul>
          <li><a class="facebook" href="#" title="facebook"></a></li>
          <li><a class="twitter" href="#" title="twitter"></a></li>
          <li><a class="rss" href="#" title="rss"></a></li>
          <li><a class="linkedin" href="#" title="linkedin"></a></li>
          <li><a class="skype" href="#" title="skype"></a></li>
        </ul>
      </div>
    </section>
    
    <nav>
      <ul class="menu">
        <li class="active"><a href="#">HOME</a></li>
        <li><a href="#">FEATURES</a></li>
        <li><a href="#">SERVICES</a></li>
        <li><a href="#">NEWS</a></li>
        <li><a href="#">SHOP</a></li>
        <li class="menu__search">
          <input type="text" placeholder="Search...">
          <button></button>
        </li>
      </ul>
    </nav>
    
    <section>
      <h6>Build Home in social</h6>
      <!--plugin Carousel-->
      <div class="container__inner">
        <div class="jcarousel-wrapper">
          <div class="jcarousel">
              <ul>
                <li><img class="jcarousel__img" src="img/slider/slide1.jpg" alt="winter"/></li>
                <li><img class="jcarousel__img" src="img/slider/slide2.jpg" alt="winter"/></li>
                <li><img class="jcarousel__img" src="img/slider/slide3.jpg" alt="winter"/></li>
              </ul>
              <a class="jcarousel__control-prev" href="#">&lt;</a>
              <a class="jcarousel__control-next" href="#">&gt;</a>
              <div class="jcarousel__pagination"></div>
          </div>
        </div>
      </div>
    </section>
    
  </div>
</header>