<!--HEADER-->
<header>
  <section class="section-header">
    <div class="authorisation">
      <a class="authorisation__login" href="#">Log In</a>
      <a class="authorisation__signup" href="#">Sign up</a>
    </div>
    <h1 class="logo"><a href="#"  title="URLAUBSGLÜCK">URLAUBSGLÜCK</a></h1>
    <div class="promo">
      <h2 class="promo__title">Share your holiday dreams</h2>
      <p class="promo__text">And find the perfect partner to fullfill it</p>
      <a class="promo__link" href="#">Find your holiday partner</a>
    </div>
  </section>
</header> <!--End HEADER-->