<!--SECTION PARTNERS-->
<section class="section-partners">
    <h3>Meet a partner for your best holiday</h3>
    <div class="partner">
        <figure>
            <img class="partner__photo" src="img/partners/partner1.png" alt="photo" title="Bradley Hunter">
            <div class="partner__icon partner__icon_1"></div>
            <figcaption>
                <a class="partner__name" href="#">Bradley Hunter</a>
            </figcaption>
        </figure>
        <p class="partner__intro">
            Based in Chicago. I love playing tennis and loud music.
        </p>
    </div>
    <div class="partner">
        <figure>
            <img class="partner__photo" src="img/partners/partner2.png" alt="photo" title="Heather Walker">
            <div class="partner__icon partner__icon_2"></div>
            <figcaption>
                <a class="partner__name" href="#">Heather Walker</a>
            </figcaption>
        </figure>
        <p class="partner__intro">
            I'm a happy person that loves cats and climbing on mountains. 
        </p>
    </div>
    <div class="partner">
        <figure>
            <img class="partner__photo" src="img/partners/partner3.png" alt="photo" title="Lucas Marsha">
            <div class="partner__icon partner__icon_3"></div>
            <figcaption>
                <a class="partner__name" href="#">Lucas Marsha</a>
            </figcaption>
        </figure>
        <p class="partner__intro">
            I get my inspiration from nature and objects around me. 
            I have a passion to colours, typography and skateboards.
        </p>
    </div>
    <div class="partner">
        <figure>
            <img class="partner__photo" src="img/partners/partner4.png" alt="photo" title="Bradley Hunter">
            <div class="partner__icon partner__icon_4"></div>
            <figcaption>
                <a class="partner__name" href="#">Bradley Hunter</a>
            </figcaption>
        </figure>
        <p class="partner__intro">
            Based in Chicago. I love playing tennis and loud music.
        </p>
    </div>
    <a href="#" class="section-partners__link">See other partners</a>
</section><!--End SECTION PARTNERS-->