
<!--SLIDERS-->
<section class="sliders">
  <h3>How Urlaubsglück works?</h3>
  <!--Slider 1-->
  <div class="jcarousel">
    <ul>
      <li>
        <img class="jcarousel__img" src="img/slider/step1.jpg" alt="typing"/>
        <div class="jcarousel__description">
          <a href="#">Step 1</a>
          <h4>Sed leo enim, condimentum</h4>
          <p>
            Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
          </p>
        </div>
      </li>
      <li>
        <img class="jcarousel__img" src="img/slider/step2.jpg" alt="trip"/>
        <div class="jcarousel__description">
          <a href="#">Step 2</a>
          <h4>Morbi velit risus</h4>
          <p>
            Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
          </p>
        </div>
      </li>
      <li>
        <img class="jcarousel__img" src="img/slider/step3.jpg" alt="relaxation"/>
        <div class="jcarousel__description">
          <a href="#">Step 3</a>
          <h4>Sed leo enim, condimentum</h4>
          <p>
            Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
          </p>
        </div>
      </li>
    </ul>
    <a class="jcarousel__control-prev" href="#"></a>
    <a class="jcarousel__control-next" href="#"></a>
  </div>
  <!--Slider 2-->
  <div class="jcarousel">
    <ul>
      <li>
        <img class="jcarousel__img" src="img/slider/step2.jpg" alt="trip"/>
        <div class="jcarousel__description">
          <a href="#">Step 2</a>
          <h4>Morbi velit risus</h4>
          <p>
            Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
          </p>
        </div>
      </li>
      <li>
        <img class="jcarousel__img" src="img/slider/step3.jpg" alt="relaxation"/>
        <div class="jcarousel__description">
          <a href="#">Step 3</a>
          <h4>Sed leo enim, condimentum</h4>
          <p>
            Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
          </p>
        </div>
      </li>
      <li>
        <img class="jcarousel__img" src="img/slider/step1.jpg" alt="typing"/>
        <div class="jcarousel__description">
          <a href="#">Step 1</a>
          <h4>Sed leo enim, condimentum</h4>
          <p>
            Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
          </p>
        </div>
      </li>
    </ul>
    <a class="jcarousel__control-prev" href="#"></a>
    <a class="jcarousel__control-next" href="#"></a>
  </div>
  <!--Slider 3-->
  <div class="jcarousel">
    <ul>
      <li>
        <img class="jcarousel__img" src="img/slider/step3.jpg" alt="relaxation"/>
        <div class="jcarousel__description">
          <a href="#">Step 3</a>
          <h4>Sed leo enim, condimentum</h4>
          <p>
            Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
          </p>
        </div>
      </li>
      <li>
        <img class="jcarousel__img" src="img/slider/step1.jpg" alt="typing"/>
        <div class="jcarousel__description">
          <a href="#">Step 1</a>
          <h4>Sed leo enim, condimentum</h4>
          <p>
            Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
          </p>
        </div>
      </li>
      <li>
        <img class="jcarousel__img" src="img/slider/step2.jpg" alt="trip"/>
        <div class="jcarousel__description">
          <a href="#">Step 2</a>
          <h4>Morbi velit risus</h4>
          <p>
            Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
          </p>
        </div>
      </li>
    </ul>
    <a class="jcarousel__control-prev" href="#"></a>
    <a class="jcarousel__control-next" href="#"></a>
  </div>
</section> <!--End SLIDERS-->
