body
{
    background-color:#efefef;
    width:100%;
    height:100%;
    margin:0;
    position:absolute;
}
.page{
    width:30%;
    min-width:150px;
    margin:5px auto;
    padding:40px 50px 50px;
    background-color:#fff;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 1px 10px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 1px 10px 0px rgba(50, 50, 50, 0.2);
}
.fio{
    text-align:center;
    margin:0;
}
.foto{
    text-align:center;
}
hr{
    margin:15px 0 20px;
}
p{
    margin:0 15px;
    font-size:18px;
    line-height:21px;
    letter-spacing:-0.5px;
}
li{
    line-height:21px;
    font-size:18px;
    letter-spacing:-0.5px;
}
a{
    margin:0 15px;
    line-height:21px;
    font-size:18px;
    letter-spacing:-0.5px;
}
