//HEADER
.section-header{
    padding: 20px 0 137px;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 320px;
    cursor: default;
}   
.section-header::after{
    content: '';
    display: block;
    clear: both;
}

.authorisation{
    margin: 0 auto 120px;
    width: 180px;
    overflow: hidden; 
}

.authorisation__login{
    float: left;
    width: 78px;
    height: 36px;
    border: 2px solid transparent;
    @include border-radius(18px);
    line-height: 32px;
    text-align: center;
    color: #fff;
}

.authorisation__signup{
    @extend .authorisation__login;
    width: 90px;
}

.authorisation__login:hover,
.authorisation__signup:hover{
    border-color: #fff;
}

.logo{
    margin: 0 auto 30px;
    width: 180px;
    
    a{
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
    }
}

.promo__title{
    line-height: 35px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.promo__text{
    margin: 6px 0 16px;
    line-height: 22px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
}

.promo__link{
    position: relative;
    z-index: 0;
    display: block;
    margin: 0 auto;
    width: 280px;  
    line-height: 40px;   
    color: #fff;
    text-align: center;
}

.promo__link::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    @include border-radius(20px);
    background-color: #ff4e50;
    opacity: 1;
    @include transition(all, 200ms, ease-in-out); 
}

.promo__link::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 2px solid #ff4e50;
    @include border-radius(20px);
    background-color: transparent;
}

.promo__link:hover{
    color: #ff4e50;
}

.promo__link:hover::after{
    width: 0;
    opacity: 0;
}

@media screen and (min-width: 768px){
    
    .section-header{
        padding: 37px 50px 233px;
        max-width: 768px;
    }
    
    .authorisation{
        float: right;
        margin: 0 0 140px;
        width: 170px;
    }
    
    .logo{
        float: left;
        margin: 10px 0 0;
    }
    
    .promo{
        margin: 0 auto;
        width: 500px;
    }
    
    .promo::before{
        content: '';
        display: block;
        clear: both;
    }
    
    .promo__title{
        line-height: 65px;
    }
    
    .promo__text{
        margin: 20px 0 33px;
        line-height: 30px;
        font-size: 24px;
        letter-spacing: 0;
    }
    
    .promo__link{
        width: 226px;
    }
}

@media screen and (min-width: 1440px){
    
    .section-header{
        padding: 37px 235px 233px 250px;
        max-width: 1440px;
    }
}